{% extends 'base.html.twig' %}

{% block body %}
    <h1>User creation</h1>

    {{ form_start(form) }}
        <button class="btn btn-success" type="submit" value="Create">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('user_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
{% endblock %}
