{% extends 'base.html.twig' %}

{% block body %}

    {% include 'navbaradmin.html.twig' %}
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1>Liste des abonnés</h1>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for mail in mails %}
                <tr>
                    <td>{{ mail.id }}</a></td>
                    <td>{{ mail.name }}</td>
                    <td>{{ mail.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('newsletter_new') }}"><button class="btn btn-success">Envoyer une newsletter</button></a>
    </div>
{% endblock %}
