#projectDescription .leftSide h2{
    margin-bottom:10px;
}

#projectDescription .leftSide p{
    margin-bottom:10px;
}

.listeDeroulante{
    height: 50%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #f8f8f8;
text-transform: uppercase;
font-weight: bold;

}
.listeDeroulante .menuitem {
    color: black;
    font-size: 14px;
    margin-bottom: 35px;
    color: #78A4D7;
}
