.financialNumbers {
    text-align: center;
}

.financialPercentage {
    text-align: center;
    font-size: 100px;
    background: #84B044;
    -webkit-background-clip: text;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 rgba(0, 0, 0, .1);
}

.ululeLink {
    color: #84B044;
}
