{% extends 'base.html.twig' %}
{% block body %}


    <div class="col-xs-12 col-md-10 col-md-offset-1" style="text-align:center;">
        <p><img src="{{ asset('uploads/images/news/') ~ news.path }}"></p>
        <h1>{{ news.title }}</h1>
        <p>{{ news.description }}</p>

        <a href="{{ path('news_index') }}"><button class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Retour vers le site</button></a>
    </div>
{% endblock %}
