{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
  {% include 'navbaradmin.html.twig' %}
    <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h3>Créer un nouvel aticle</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success" type="submit">Créer</button>
    {{ form_end(form) }}
    <a class='pull-right' href="{{ path('post_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
</div>
{% endblock %}
